@font-face {
    font-family: 'TNR';
    font-weight: 50px;
    src: local('TNR'), url('fonts/OPTITimes-Roman.otf') format('woff');
    }

/* Background for homepage */
.homepage {
    background: url('MainImages/homepagebg.png') no-repeat center center fixed;
    background-size: cover;
}

/* Styles for homepage */
.rectangle {
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    left: 440px;
    width: 54%;
    height: 600px;
    background: #000000;
    border: 1px solid #FFFFFF;
    padding: 20px; /* Adding padding to keep text from sticking to edges */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom */
    align-items: flex-start; /* Align items to the left */
}

.arrow-link {
    position: absolute;
    top: 50px; /* Adjusted distance from the top */
    right: 20px; /* Adjusted distance from the right */
}

.arrow {
    position: absolute;
    width: 120px;
    height: auto;
    margin-top: 30px;;
    right: 80px;
}

.intro {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    width: 50%;
    font-weight: 120;
    margin-left: 4%;
    top: 80px; /* Adjusted margin top to move the intro higher */
    font-size: 85px; /* Adjusted font size to fit within the rectangle */
    line-height: 95px; /* Adjusted line height */
    color: #FFFFFF;
    
}

.text {
    position: absolute;
    font-family: 'TNR';
    font-style: normal;
    top: 270px;
    font-weight: 400;
    margin-left: 4%;
    width: 84%;
    font-size: 23px;
    line-height: 40px;
    text-align: justify;
    color: #f0fbd3;
    margin-bottom: 100px; /* Adjusted margin bottom */
}