@font-face {
    font-family: 'TNR';
    font-weight: 50px;
    src: local('TNR'), url('fonts/OPTITimes-Roman.otf') format('woff');
    }


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
    position: relative; /* Ensure the slide is a positioned element */
}

.front_page_bg {
    position: absolute;
    width: 100%; /* Resize as needed */
    height: auto; /* Maintain aspect ratio */
}

.content {
    position: relative; /* Ensure this is a positioned element */
    width: 100%;
    height: 100%;
}

.page2_img1 {
    position: absolute;
    top: 400px;  /* Adjust as needed */
    left: 430px; /* Adjust as needed */  
}

.page2_img2 {
    position: absolute;
    top: 400px;  /* Adjust as needed */
    right: 430px; /* Adjust as needed */  
}

.second_page_paragraph1{
    position: absolute;
    top: 198px;  /* Adjust as needed */
    left: 427px;  /* Adjust as needed */
    width: 55%; 
    text-align: justify;
    font-family: 'TNR'; 
    font-size: 20px; /* Adjust as needed */
    /* Add other styling as needed */
}

.second_page_paragraph2{
    position: absolute;
    top: 715px;  /* Adjust as needed */
    left: 427px;  /* Adjust as needed */
    width: 55%; 
    text-align: justify;
    font-family: 'TNR'; 
    font-size: 20px; /* Adjust as needed */
    /* Add other styling as needed */
}

.page3_vid1 {
    position: absolute;
    top: 175px;  /* Adjust as needed */
    left: 160px; /* Adjust as needed */
}

.page3_vid2 {
    position: absolute;
    top: 175px;  /* Adjust as needed */
    right: 160px; /* Adjust as needed */
}

.third_paragraph1 {
    position: absolute;
    top: 190px;  /* Adjust as needed */
    left: 647px;  /* Adjust as needed */
    width: 32%; 
    text-align: justify;
    font-family: 'TNR'; 
    font-size: 20px; /* Adjust as needed */
    /* Add other styling as needed */
}

.third_paragraph2 {
    position: absolute;
    top: 480px;  /* Adjust as needed */
    left: 647px;  /* Adjust as needed */
    width: 32%; 
    text-align: justify;
    font-family: 'TNR'; 
    font-size: 20px; /* Adjust as needed */
    /* Add other styling as needed */
}

.third_paragraph3 {
    position: absolute;
    top: 700px;  /* Adjust as needed */
    left: 647px;  /* Adjust as needed */
    width: 32%;  
    text-align: justify;
    font-family: 'TNR'; 
    font-size: 20px; /* Adjust as needed */
    /* Add other styling as needed */
}

.fourth_paragraph1 {
    position: absolute;
    top: 375px;  /* Adjust as needed */
    left: 420px;  /* Adjust as needed */
    width: 55%;
    text-align: justify;
    font-family: 'TNR'; 
    font-size: 20px; /* Adjust as needed */
    /* Add other styling as needed */
}

.fourth_paragraph2 {
    position: absolute;
    top: 535px;  /* Adjust as needed */
    left: 420px;  /* Adjust as needed */
    width: 55%; 
    text-align: justify;
    font-family: 'TNR'; 
    font-size: 20px; /* Adjust as needed */
    /* Add other styling as needed */
}

