@font-face {
    font-family: 'TNR';
    font-weight: 50px;
    src: local('TNR'), url('fonts/OPTITimes-Roman.otf') format('woff');
    }


body {

    margin: 0;
    padding: 0;
    background: url('ABImages/Research\ -\ bg.png') no-repeat top center;
    background-size: cover;
    color: #fff;
}

.title{
    position: absolute;
    top: 315px;
    left: 600px;
    padding-bottom: 4530px;
}

.works {
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18.7px;
    color: white;
    width: 151px;
    height: 47px;
    font-family: 'TNR'; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    top: 4750px;
    left: 400px;
}

.portfolio {
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18.7px;
    color: white;
    width: 151px;
    height: 47px;
    font-family: 'TNR'; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    top: 4750px;
    right: 400px;
}

.research1 {
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18.7px;
    color: white;
    width: 151px;
    height: 47px;
    font-family: 'TNR'; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    top: 1300px;
    left: 160px;
}

.research2 {
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18.7px;
    color: white;
    width: 151px;
    height: 47px;
    font-family: 'TNR'; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    top: 2030px;
    left: 160px;
}

.research3 {
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18.7px;
    color: white;
    width: 151px;
    height: 47px;
    font-family: 'TNR'; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    top: 2790px;
    left: 160px;
}

.research4 {
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18.7px;
    color: white;
    width: 151px;
    height: 47px;
    font-family: 'TNR'; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    top: 3540px;
    left: 160px;
}

.research5 {
    position: absolute;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18.7px;
    color: white;
    width: 151px;
    height: 47px;
    font-family: 'TNR'; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
    top: 4230px;
    left: 160px;
}