@font-face {
    font-family: 'TNR';
    font-weight: 50px;
    src: local('TNR'), url('fonts/OPTITimes-Roman.otf') format('woff');
    }


body {

    margin: 0;
    padding: 0;
    background: url('AlezzImages/Portfolio\ 1st\ page\ -\ bg.png') no-repeat top center;
    background-size: cover;
    color: #fff;
}

.name-title {
    position: absolute;
    top: 330px;
    left: 530px;
}

.profile-img {
    position: absolute;
    top: 1050px;
    left: 300px;
    padding-bottom: 500px;
}

.paragraph1{
    position: absolute;
    top: 1225px;
    left: 960px;
    font-family: 'TNR';
    font-size: 20px;
    text-align: justify;
}

.paragraph2{
    position: absolute;
    top: 1275px;
    left: 960px;
    font-family: 'TNR';
    font-size: 20px;
    width: 576px;
    text-align: justify;
}

.view-resume {
    position: absolute;
    top: 1435px;
    left: 960px;
    width: 151px;
    height: 47px;
    font-size: 20px;
    font-family: 'TNR';
    color: white;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}

.paragraph_section1 {
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: 'TNR';
    top: 1760px;
    left: 450px;
    width: 960px;
    padding-bottom: 1000px;
}

.education-button{
    position: absolute;
    font-size: 20px;
    font-family: 'TNR';
    color: white;
    top: 2300px;
    left: 200px;
    width: 403px;
    height: 605px;
    background-image: url('AlezzImages/education\ -\ button.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 35px; /* Adjust as needed for desired spacing */
    text-align: center;
}

.contacts-button {
    position: absolute;
    font-size: 20px;
    font-family: 'TNR';
    color: white;
    top: 2300px;
    right: 200px;
    width: 403px;
    height: 605px;
    background-image: url('AlezzImages/contacts\ -\ button.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 35px; /* Adjust as needed for desired spacing */
    text-align: center;
}

.works-button {
    position: absolute;
    font-size: 20px;
    font-family: 'TNR';
    color: white;
    top: 2300px;
    right: 740px;
    width: 403px;
    height: 605px;
    background-image: url('AlezzImages/works\ -\ button.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 35px; /* Adjust as needed for desired spacing */
    text-align: center;
}

