@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url(https://db.onlinewebfonts.com/c/05549cf893d9543a6c16e1d66f4858b2?family=AmstelvarAlpha+Default);

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background: url('MainImages/sbg.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden; /* Hide scrollbars */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the content vertically */
    height: 100vh; /* Full height of the viewport */
}

#translatable-text {
    position: absolute;
    top: 200px;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Beau Rivage', cursive;
}

.translated-text {
    font-style: italic; /* Example of additional styling for the translated text */
    color: lightgray;
}

.start-button {
    position: absolute;
    margin-top: 635px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    border: white 1px solid;
    font-family: "Lora", serif;
}

.start-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.voyage {
    background-image: url('MainImages/texture2.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 200px; 
}

h1 span:first-child {
    margin-top: -30px;
}
